@media only screen and (min-width: 320px) and (max-width: 767px) {

    .notebook-header {
        display: none;
    }

    .img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .read-next {
        margin-left: 20px;
        display: flex;
    }

    .img-down {
        margin-right: 15px;
    }

    li {
        cursor: pointer;
    }

    summary {
        list-style-type: none;
    }

    li:focus {
        border: 2px solid #B8FFEC;
        border-radius: 10px;
    }

    .info-company p {
        font-family: 'TTLakes Regular', sans-serif;
        margin-left: 10px;
    }

    .range-menu {
        display: flex;
        list-style-type: none;
        overflow-x: auto;
    }

    h1 {
        font-family: 'TTLakes Bold', sans-serif;
    }

    .range-menu li {
        padding: 9px 15px;
        white-space: nowrap;
        margin-right: 10px;
    }

    .green-line {
        margin-right: 12px;
    }

    .mobile-header {
        width: 100%;
        height: 88px;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        background-color: white;
        justify-content: space-evenly;
        gap: 10px;
    }

    .mobile-header .burger, .logo, .divider, .repair, .status {
        margin: auto 0;
    }

    .burger {
        margin-right: 16px;
    }

    .range-menu {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1119px) {

    .mobile-header {
        display: none;
    }

    .notebook-header {
        width: 100%;
        height: 88px;
        display: flex;
        padding-left: 40px;
        padding-right: 20px;
        background-color: white;
        justify-content: space-evenly;
        gap: 10px;
    }

    h1 {
        margin-left: 20px;
        font-family: 'TTLakes Bold', sans-serif;
    }

    .services {
        display: flex;
        margin: 25px 0 auto;
    }


    /* СТИЛИ ДЛЯ HEADER */
    .notebook-header .burger, .divider, .logo, .call, .sms, .profile, .repair, .status {
        margin: auto 0;
    }

    .logo {
        margin-right: 250px;
        margin-left: 20px;
    }

    .repair {
        margin-left: 20px;
    }

    .sms {
        margin-left: 16px;
        margin-right: 16px;
    }

    .divider {
        margin-left: 20px;
    }

    .profile {
        margin-right: 20px;
    }

    .status {
        margin-right: 25px;
    }

    .burger {
        margin-left: 23px;
    }
}