@media only screen and (min-width: 320px) and (max-width: 767px) {

    .notebook-header {
        display: none;
    }

    .brand-content__notebook__desktop {
        display: none;
    }

    .more-brand {
        display: none;
    }

    .grid-container__notebook {
        display: none;
    }

    .grid-container__desktop {
        display: none;
    }


    .info-company-desktop {
        display: none;
    }

    .range-menu-desktop {
        display: none;
    }

    .desktop-header {
        display: none;
    }

    .info-company p {
        font-family: 'TTLakes Regular', sans-serif;
        margin-left: 10px;
    }

    h1 {
        font-family: 'TTLakes Bold', sans-serif;
    }

    .green-line {
        margin-right: 12px;
    }

    .mobile-header {
        width: 100%;
        height: 88px;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        background-color: white;
        justify-content: space-evenly;
        gap: 10px;
    }

    .mobile-header .burger,
    .logo,
    .divider,
    .repair,
    .status {
        margin: auto 0;
    }

    .burger {
        margin-right: 16px;
    }

    .status {
        margin-right: 25px;
    }

    .range-menu {
        display: flex;
    }

    .brand-content {
        margin-top: 24px;
        border-top: solid 1px #D9FFF5;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .brand-content p {
        padding: 16px;
        margin: 0;
        margin-bottom: 16px;
    }


    .swiper-container__mobile {
        position: relative;
        overflow: hidden;
        margin-left: 16px;
    }

    .swiper-wriper {
        position: relative;
        width: 100%;
    }

    .swiper-slide {
        width: 80%;
    }

    .swiper-slide-next {
        filter: blur(1px);

    }


    .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .swiper-pagination-bullet {
        background-color: #34343d;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: #B5B6BC;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1119px) {

    .brand-container__mobile {
        display: none;
    }

    .grid-container__desktop {
        display: none;
    }


    .mobile-header {
        display: none;
    }

    .info-company-desktop {
        display: none;
    }

    .desktop-header {
        display: none;
    }

    .range-menu-desktop {
        display: none;
    }


    /*НАСТРОЙКА ХЭДЭР ДЛЯ НОУТА*/
    .notebook-header {
        position: relative;
        max-width: 100%;
        height: 88px;
        display: flex;
        overflow: hidden;
        background-color: white;
        justify-content: space-evenly;
        gap: 10px;
    }

    .notebook-header a {
        object-fit: cover;
    }

    h1 {
        margin-left: 20px;
        font-family: 'TTLakes Bold', sans-serif;
    }

    .burger {
        padding-left: 24px;
    }

    .services {
        display: flex;
        margin: 25px 0 auto;
    }

    .status {
        padding-right: 20px;
    }

    .info-company p {
        font-family: 'TTLakes Regular', sans-serif;
        margin-left: 24px;
    }


    /* СТИЛИ ДЛЯ HEADER */
    .notebook-header .burger,
    .divider,
    .logo,
    .call,
    .sms,
    .profile,
    .repair,
    .status {
        margin: auto 0;
    }

    .logo {
        margin-right: 250px;
        margin-left: 20px;
    }

    .repair {
        margin-left: 20px;
    }

    .sms {
        margin-left: 16px;
        margin-right: 16px;
    }

    .divider {
        margin-left: 20px;
    }

    .profile {
        margin-right: 20px;
    }

    .status {
        margin-right: 25px;
    }

    .burger {
        position: relative;
        display: inline-block;
        margin-left: 23px;
    }

    /*МЕНЮ*/
    .rectangle {
        position: absolute;
        left: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: blue;
        display: none;
        /* Скрыть прямоугольник по умолчанию */
    }


    /*МЕНЮ БРЭНДОВ НОУТБУК*/
    .brand-content__notebook__desktop {
        margin-top: 51px;
        border-top: solid 1px #D9FFF5;
        background-color: white;
    }

    .brand-content__notebook__desktop p {
        padding-left: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
        margin-bottom: 16px;
    }

    #img {
        transition: transform 0.5s;
    }

    .item {
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .grid-container__notebook {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 32px;
        margin-right: 32px;
        column-gap: 32px;
        row-gap: 16px;
    }

    .more-brand {
        margin-top: 24px;
        margin-left: 32px;
        margin-bottom: 30px;
    }

    .hidden-item {
        display: none;
    }

    .btn {
        background: none;
        border: none;
        font-family: 'TTLakes Regular', sans-serif;
        font-size: 16px;
    }



}

@media only screen and (min-width: 1120px) {

    /* СКРЫТИЕ СТОРОННИХ РАЗМЕРОВ ЭКРАНОВ */
    .mobile-header {
        display: none;
    }

    .grid-container__notebook {
        display: none;
    }

    .brand-container__mobile {
        display: none;
    }


    .notebook-header {
        display: none;
    }

    .services {
        display: none;
    }

    .range-menu {
        display: none;
    }

    .info-company {
        display: none;
    }

    /**/
    .repair,
    .status {
        margin: auto 0;
    }

    .repair {
        margin-right: 32px;
    }

    .desktop-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 8px;
        align-items: flex-end;
        white-space: nowrap;
    }

    .left {
        display: flex;
        align-items: flex-end;
        white-space: nowrap;
    }

    .right {
        display: flex;
        white-space: nowrap;
        margin-right: 32px;
    }

    h1 {
        margin: 0 0 0 20px;
        font-family: 'TTLakes Bold', sans-serif;
    }

    h4 {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 8px;
    }

    .range-menu-desktop {
        display: flex;
        list-style-type: none;
        overflow-x: auto;
        flex-wrap: wrap;
        margin: 0;
    }

    li:focus {
        border: 2px solid #B8FFEC;
        border-radius: 10px;
        background-color: white;
    }

    li {
        cursor: pointer;
    }

    .range-menu-desktop li {
        padding: 9px 15px;
        white-space: nowrap;
        margin-right: 10px;
    }

    .info-company-desktop {
        display: flex;
    }

    .text {
        float: left;
        margin-right: 36px;
        margin-left: 34px;
    }

    .img {
        float: right;
        margin-right: 28px;
    }



    /*МЕНЮ БРЭНДОВ ДЕСКТОП*/
    .brand-content__notebook__desktop {
        margin-top: 51px;
        border-top: solid 1px #D9FFF5;
        background-color: white;
    }

    .brand-content__notebook__desktop p {
        padding-left: 35px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
        margin-bottom: 16px;
    }

    #img {
        transition: transform 0.5s;
    }

    .item {
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .grid-container__desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 32px;
        margin-right: 32px;
        column-gap: 32px;
        row-gap: 16px;
    }

    .item img {
        width: 100%;
    }


    .more-brand {  
        margin-top: 24px;
        margin-left: 32px;
        margin-bottom: 30px;
    }

    .hidden-item {
        display: none;
    }

    .btn {
        background: none;
        border: none;
        font-family: 'TTLakes Regular', sans-serif;
        font-size: 16px;
    }



}