@media only screen and (max-width: 500px) {

    body {
        background-color: lightslategray;
    }

    .main-menu {
        height: 88px;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        background-color: white;
        justify-content: space-between;
        gap: 10px;
    }

    .main-menu .burger, .logo, .divider, .repair, .status {
        margin: auto 0;
    }
}



